.homepage {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.header {
  text-align: center;
  font-weight: bold;
  color: #f8f141;
  font-size: 45px;
}
.tada {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.iconColor {
  font-size: 20px;
  color: #f8f141;
}
